
* {
    padding: 0;
    margin: 0;
}

h1 {
    top: 0;
    left: 0;
    text-align: center;
    background-color: #222831;
    color: white;
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #00ADB5;
    height: 5%;
    top: 8%;
    width: 100%;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu {
    text-align: center;
    list-style: none;
}
 
.nav-menu-item {
    display: inline-flex;
    color: white;
    padding: 10px;
    width: 100px;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link {
    padding: 10px 15px;
    border-radius: 15px;
}

.nav-menu-link:hover {
    background-color: #222831;
    transition: 0.7s
}

.button-link {
    color: white;
    text-decoration: none;
}

.button-1 {
    list-style: none;
    text-decoration: none;
}

.button-1-item {
    color: white;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 10px;
}

.button-1-link {
    padding: 10px 15px;
    border-radius: 15px;
}

.button-1-link:hover {
    background-color: #00ADB5;
    transition: 0.7s
}

.button-2 {
    list-style: none;
    text-decoration: none;
}

.button-2-item {
    color: white;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 10px;
}

.button-2-link {
    padding: 10px 15px;
    border-radius: 15px;
}

.button-2-link:hover {
    background-color: #00ADB5;
    transition: 0.7s
}

.button-3 {
    list-style: none;
    text-decoration: none;
}

.button-3-item {
    color: white;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 10px;
}

.button-3-link {
    padding: 10px 15px;
    border-radius: 15px;
}

.button-3-link:hover {
    background-color: #00ADB5;
    transition: 0.7s
}

